body {
    background-color:lightpink;}


.dias {
    font-weight: 900;
    color: hotpink;
    font-size: 30px;

}

.horarios {
    margin: 20px;
    border: 5px;
    border-style: dotted;
    border-color: hotpink;
    color: hotpink;
    
    }

    
.horario {

    font-weight: 900;
    color: hotpink;
    font-size: 20px;

}
    