body {
    background-color:lightpink;
}    


.encabezado {
   
    margin: 20px;
    border: 5px;
    border-style: dotted;
    border-color: hotpink;
    color: hotpink;
}

.pie {
    background-color:lightpink;
    font-size: 30px;
    width: 100%;
    text-align: center;
    
}



.formulario{
    border: 1px black double;
}



